<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>FanoiaEN Portal</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="/img/logo.png" alt="Logo" width="96" height="90" class="d-inline-block align-text-top">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">              
            </ul>
            <div class="d-flex">
                <button onclick="window.location.href='/login'" class="btn login-btn btn-success" style="margin-right: 10px">Login</button>
                <button onclick="window.location.href='/login'" class="btn btn-primary">Sign up</button>
            </div>
          </div>
        </div>
      </nav>


      <div class="side-nav">
        <div class="side-nav-info">
            <img class="side-nav-logo" src="img/placeholder.png" alt="Logo" width="60" height="60" style="border-radius: 50%;">
            <div class="side-nav-text">
                <span class="side-nav-nickname">Please Login</span>
                <span class="side-nav-role">TO See more.</span>
            </div>
        </div>
        <div class="side-nav-item">
          <a class="side-nav-item-text" href="/">
          <i class="bi bi-house-fill"></i> <p class="side-nav-text">Home</p></a>
        </div>
      </div>

      


      <script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
      <script>window.addEventListener('resize', function() {
        if (window.innerWidth < 800) {
          // Hide text in side nav
          document.querySelectorAll('.side-nav-text').forEach(function(text) {
            text.style.display = 'none';
          });
          document.querySelectorAll('.side-nav-role').forEach(function(text) {
            text.style.display = 'none';
          });
          document.querySelectorAll('.side-nav-nickname').forEach(function(text) {
            text.style.display = 'none';
          });
          // Show only icons in side nav
          document.querySelectorAll('.side-nav i').forEach(function(icon) {
            icon.style.display = 'inline-block';
          });
        } else {
          // Show text in side nav
          document.querySelectorAll('.side-nav i').forEach(function(icon) {
            icon.style.display = 'inline-block';
          });
          document.querySelectorAll('.side-nav i').forEach(function(icon) {
            icon.style.display = 'inline-block';
          });
          document.querySelectorAll('.side-nav-text').forEach(function(text) {
            text.style.display = 'inline-block';
          });
          document.querySelectorAll('.side-nav-role').forEach(function(text) {
            text.style.display = 'inline-block';
          });
          document.querySelectorAll('.side-nav-nickname').forEach(function(text) {
            text.style.display = 'inline-block';
          });
        }
      });
      
      window.addEventListener('load', function() {
        var textElement = document.getElementsByClassName('side-nav-text');
        var textElement2 = document.querySelector('.side-nav-role');
        var textElement3 = document.querySelector('.side-nav-nickname');
      
        if (window.innerWidth < 800) {
          for (var i = 0; i < textElement.length; i++) {
          textElement[i].style.display = 'none';
        }
          textElement2.style.display = 'none';
          textElement3.style.display = 'none';
        } else {
          for (var i = 0; i < textElement.length; i++) {
          textElement[i].style.display = 'inline-block';
        }
          textElement2.style.display = 'inline-block';
          textElement3.style.display = 'inline-block';
        }
      });
      
      
      
      </script>
</body>
</html>